@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: #0a192f;
    color: #ced1d5;
}

header {
    background-color: rgba(10, 25, 47, 0.5);
    backdrop-filter: blur(5px);

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 300ms ease;

    z-index: 10;
    font-size: 14px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1.5rem 3rem;
}

/* Scroller */

header.scroll-up{
    transform: translateY(0);
    box-shadow: 0 10px 30px -10px rgba(2,12,27,0.7);
}

header.scroll-down{
    transform: translateY(-100%);
}
  
.logo {
    margin-right: auto;
    color: #858c97;
    font-size: 20px;
}

.logo:hover {
    color: #ced1d5;
}
  
.nav__links {
    list-style: none;
    display: flex;
}
  
.nav__links a,
.cta,
.overlay__content a {
    color: #ced1d5;
}
  
.nav__links li {
    padding: 9px 20px;
}
  
/* .nav__links li a {
    transition: all 0.3s ease 0s;
} */
  
.cta {
    padding: 9px 25px;
    border: 2px solid #ced1d5;
    border-radius: 5px;
    cursor: pointer;
}
  
.cta:hover {
    background-color: rgba(0, 136, 169, 0.8);
}
  
/* Mobile Nav */
  
.menu {
    display: none;
}
  
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: #24252a;
    overflow-x: hidden;
    transition: all 0.5s ease 0s;
}
  
.overlay--active {
    width: 100%;
}
  
.overlay__content {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.overlay a {
    padding: 15px;
    font-size: 36px;
    display: block;
    transition: all 0.3s ease 0s;
}
  
.overlay a:hover,
.overlay a:focus {
    color: #0088a9;
}
.overlay .close {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    color: #edf0f1;
    cursor: pointer;
}
  
@media screen and (max-height: 450px) {
    .overlay a {
        font-size: 20px;
    }
    .overlay .close {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
  
@media only screen and (max-width: 800px) {
    .nav__links,
    .cta {
        display: none;
    }
    .menu {
        display: initial;
    }
}

.side-column {
    padding-top: 12rem;
}

.leftLogo {
    fill: #858c97;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;

    transition: all 0.3s ease 0s;
}

.leftLogo:hover {
    fill: #ced1d5;
    transform: translate(0, -0.2rem);
}

.leftBar {
    orientation: vertical;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: fixed;
    width: 1.5rem;
    height: 100%;
    left: 3rem;
    right: auto;
}

.rightBar {
    orientation: vertical;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: fixed;
    width: 1.5rem;
    height: 100%;
    right: 3rem;
    left: auto;
}

.rightBar a {
    text-decoration: none;
    color: #858c97;
    writing-mode: vertical-rl;
    transition: all 0.3s ease 0s;
}

.rightBar a:hover {
    color: #ced1d5;
    transform: translate(0, -0.2rem);
}

section {
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 70%;
}

#home {
    padding-top: 9rem;
    height: 100vh;
}

#home div {
    width: 70%;
    position: absolute;
    margin: 0;
    top: 50%;
    transform: translateY(-50%);
}

#home .name {
    font-size: 4rem;
    margin-bottom: 0px;
    /* margin-top: 0px; */
}

#home .intro {
    font-size: 4rem;
    margin-top: 0px;
    color: #858c97;
}

#home h1 {
    color: #ced1d5;
}

p {
    color: #858c97;
}

a.left {
    color: #ced1d5;
    position: relative;
}

a.left:before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: #FFF;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

a.left:hover:before {
    visibility: visible;
    width: 100%;
}

.vertical-bar {
    width: 1px;
    height: 100px;
    background-color: #ced1d5;
    margin: 1.5rem auto 0 auto;
}

/* About */
.pics {
    border-radius: 10px;
    width: 90%;
}

.section-title {
    font-size: 30px;
}

#about ul {
    margin-top: 1rem;
    color: #858c97;
    display: grid;
    grid-template-columns: repeat(3, minmax(140px, 200px));
    list-style: none;
}

#about ul li {
    position: relative;
    padding-left: 1rem;
    margin-bottom: 0.2rem;
}

#about ul li:before {
    content: "";
    position: absolute;
    border-right: 2px solid #858c97;
    border-bottom: 2px solid #858c97;
    width: 5px;
    height: 5px;
    top: calc(50% - 1px);
    left: 0px;
    transform: translateY(-50%) rotate(-45deg);
}

/* Experience */
#experience {
    padding-top: 10rem;
}

#companies {
    display: flex;
    flex-direction: column;
}

#companies-table {
    display: flex;
    flex-direction: row;
}

#companies button {
    height: 2.5rem;
    background-color: #0a192f;
    border: none;
    border-left: 2px solid #858c97;
    color: #858c97;
    text-align: left;
    padding-left: 1rem;
}

#companies button.selected {
    background-color: #112240;
    border-left: 2px solid #ced1d5;
    color: #ced1d5;
}

#companies button:hover {
    background-color: #112240;
    color: #ced1d5;
}

#description {
    margin-top: 0.3rem;
}

#description h1 {
    color: #ced1d5;
    font-size: 1.3rem;
}

#description .time-period {
    color: #858c97;
    font-size: 0.8rem;
}

.work_details {
    height: 0;
    opacity: 0;
    transition: height 1s;
}

.work_details.visible {
    height: auto;
    opacity: 1;
}

#experience ul {
    margin-top: 1rem;
    color: #858c97;
    list-style: none;
}

#experience ul li {
    font-size: 1rem;
    position: relative;
    padding-left: 1rem;
    margin-bottom: 0.2rem;
}

#experience ul li:before {
    content: "";
    position: absolute;
    border-right: 2px solid #858c97;
    border-bottom: 2px solid #858c97;
    width: 5px;
    height: 5px;
    top: 11px;
    left: 0px;
    transform: translateY(-50%) rotate(-45deg);
}

/* Projects */
#projects {
    padding-top: 10rem;
}

.project-section {
    margin-top: 1.5rem;
}

.project-title {
    font-size: 20px;
}

.project-image {
    border-radius: 20px;
}

.project-url {
    width: 20px;
    color: #858c97;
    transition: all 0.3s ease 0s;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
}

.project-url:hover {
    color: #ced1d5;
}

.project-logo {
    width: 20px;
    fill: #858c97;
    transition: all 0.3s ease 0s;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
}

.project-logo:hover {
    fill: #ced1d5;
}

.project-description {
    text-align: justify;
}

/* Contact */
#contact {
    margin-top: 10rem;
    text-align: center;
    width: 50%;
}

.hello-button {
    display: inline-block;
    margin-top: 2rem;
    padding: 9px 25px;
    border: 2px solid #ced1d5;
    color: #ced1d5;
    border-radius: 5px;
    cursor: pointer;
}
  
.hello-button:hover {
    background-color: rgba(0, 136, 169, 0.8);
    color: #ced1d5;
}

/* Footer */
#footer {
    margin-top: 5rem;
    padding-bottom: 2rem;
    text-align: center;
    font-size: 13px;
}

#footer a {
    color: #858c97;
}

#footer a:hover {
    color: #ced1d5;
}