/* width */
::-webkit-scrollbar {
    width: 0.4rem;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #0a192f; 
}
   
/* Handle */
::-webkit-scrollbar-thumb {
    background: #858c97; 
    border-radius: 1rem;
}